.header .headerContent {
    border: #6e6e6e solid;
    border-width: 0 0 2px 0;
    align-items: center;
}

.logo {
    width: 150px;
    height: 93px;
    margin: 12px;
}

.navbar {
    margin: 8px auto;
}

.navbar a {
    text-decoration: none;
    color: #000000;
}

.navbar a:hover {
    text-decoration: underline;
    background: #f9f9f9;
}

.navItem {
    margin: 0 8px;
    font-size: 20px;
}

.userBlock a {
    margin: auto 8px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}

.userBlock a:hover {
    text-decoration: underline;
    background: #f9f9f9;
}

#score {
    font-weight: bold;
}

.userIcon {
    margin-right: 24px;
    width: 64px;
    height: 64px;
}

#userOptions {
    display: none;
    z-index: 1;
    position: absolute;
    text-decoration: none;
    font-weight: normal;
}

#userOptions a {
    display: block;
    text-decoration: none;
}

div > #adminHome {
    display: none;
}