.wrap {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.leftWrapper {
    width: 45%;
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    justify-content: space-around;
}

.centerWrapper {
    width: 28%;
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    justify-content: space-around;
}

.rightWrapper {
    width: 21%;
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    justify-content: space-around;
}

.searchbarWrap {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.search-container {
    margin: auto;
    width: 325px;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.searchResultsContent {
    display: flex;
    width: 317px;
    margin: auto;
    background: white;
    border: 3px solid #00B4CC;
}

#resultUsername, #username, #resultPoints, #points {
    padding: 5px;
    margin: 7px 5px;
}

#resultUsername, #resultPoints {
    font-weight: bold;
}

.BOTWwrapper {
    display: flex;
    flex-flow: row wrap;
}

.BOTWtitle {
    font-weight: bold;
    margin: 0;
}

.leaderboardHeader {
    margin: 0 30px;
}

li.leaderboardItem {
    padding-bottom: 4px;
}

.boekenclubBorder, .BOTWborder, .leaderboardBorder {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    background-color: white;
}