<div class="wrap">

    <div class="leftWrapper">
        <div class="userBorder">
            <div class="studentListWrapper">
                <ul class="unnapprovedStudentList">
                    <h2>Wachten op goedkeuring</h2>
                </ul>
            </div>
        </div>
    </div>

    <div class="leftWrapper">
        <div class="userBorder">
            <div class="studentListWrapper">
                <ul class="groupStudentList">
                    <h2>Groep Uitdagingen</h2>
                </ul>
            </div>
        </div>
    </div>

    <div class="rightWrapper">
        <div class="userBorder">
            <div class="studentListWrapper">
                <ul class="approvedStudentList">
                    <h2>Goedgekeurde uitdagingen</h2>
                </ul>
            </div>
        </div>
    </div>

</div>