<li class="studentRow">
    <div class="lineOne Flex">
        <span id="apprChallengeEntryID"></span>
        <span id="apprChallenger">Uitdager: </span>
        <span id="apprChallengeEntryChallenger"></span>
        <span id="pointsWon">Gewonnen Punten: </span>
        <span id="apprChallengeAmountPoints"></span>
    </div>
    <div class="lineTwo Flex">
        <span id="apprDateTaken">Begin Datum: </span>
        <span id="apprChallengeEntryDateTaken"></span>
        <span id="apprCompletionDate">Afgemaakt op: </span>
        <span id="apprChallengeCompletionDate"></span>
        <button class="deleteBtn fas fa-trash"></button>
    </div>
    <div class="lineThree Flex">
        <div id="removeApprovedChallenge"></div>
    </div>
</li>