<li class="studentRow">
    <div class="lineOne Flex">
        <span id="challengeEntryID"></span>
        <span id="challenger">Uitdager: </span>
        <span id="challengeEntryChallenger"></span>
        <span id="pointsToWin">Te Winnen Punten: </span>
        <span id="challengeAmountPoints"></span>
    </div>
    <div class="lineTwo Flex">
        <span id="dateTaken">Begin Datum: </span>
        <span id="challengeEntryDateTaken"></span>
        <span id="dateEnd">Eind Datum: </span>
        <span id="challengeEntryDateEnd"></span>
        <!--    <span id="challengeEntryDateCompletion"></span>-->
        <button class="approveBtn fas fa-check"></button>
    </div>
    <div class="lineThree Flex">
        <div id="removeUnnapprovedChallenge"></div>
    </div>
</li>