<li class="studentRow">
    <div class="lineOne Flex">
        <span id="groupUsername">Uitdager: </span>
        <span id="groupChallengerUsername"></span>
        <span id="name">Group Naam: </span>
        <span id="groupName"></span>
    </div>
    <div class="lineTwo Flex">
        <span id="moderator">Group Moderator: </span>
        <span id="groupModerator"></span>
        <span id="winner">Winaar: </span>
        <span id="groupWinner"></span>
<!--        <button class="approveBtn fas fa-check"></button>-->
    </div>
</li>