<div class="myClassContent">
    <div class="flex">
        <div>
            <h2 class="title">Groepsuitdagingen</h2>
            <div class="flex">
                <div class="groupChallengesList">
                    <!-- Gets filled by the controller with challenges of the user's group -->
                </div>
            </div>
        </div>
        <div>
            <h2 class="title">Mijn klas</h2>
            <div class="flex">
                <div class="myClassList">
                    <!-- Gets filled by the controller with users of the user's group -->
                </div>
                <button class="challengeStudent">Uitdagen</button>
                <span id="warning"></span>
            </div>
        </div>
    </div>
</div>