<div class="headerContent flex">
    <a href="" data-controller="home"><img class="logo" src="assets/img/logo_boekenclub.PNG" alt="logo"></a>

    <div class="flex navbar">
        <a href="" data-controller="challenges"><div class="navItem" id="challenges">Uitdagingen</div></a>
        <a href="" data-controller="my-class"><div class="navItem" id="class">Mijn Klas</div></a>
        <a href="" data-controller="oba"><div class="navItem" id="oba">OBA</div></a>
        <a href="" data-controller="admin-home"><div class="navItem" id="adminHome">Admin Homepage</div></a>
    </div>

    <div class="flex userBlock">
        <!-- Load score and name in from the user that is logged in -->
        <a href="" data-controller="login"><div id="score">Log In</div></a>
        <div class="userProfilePicture">
            <!-- Load profile picture from logged in user or show default icon -->
            <img class="userIcon" src="assets/img/userIcon.png" alt="userIcon">
        </div>
    </div>
</div>