<div class="searchbarWrap">
    <div class="search-container">
        <input type="text" class="searchTerm" placeholder="Zoeken..">
        <button class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </div>
    <div class="searchResultsWrapper">
        <!-- Search results are loaded into this section here -->
    </div>
</div>

<div class="wrap">

    <div class="leftWrapper">
        <div class="boekenclubBorder">
            <h1>Boekenclub</h1>
            <div class="boekenclubExplanation">
                <p>
                    Hier bij de Boekenclub, hebben we het voor u mogelijk gemaakt om uw leesvaardigheid uit te dagen.
                    Je kunt solo-uitdagingen starten, waarbij je het boek kiest dat je wilt lezen, samen met de begin-
                    en einddatum van je uitdagin. Als je klaar bent met het lezen van het boek dat je hebt gekozen voor
                    de uitdaging vóór de einddatum, verdien je punten, op basis van hoe snel je de uitdaging hebt kunnen
                    voltooien.<br>
                    <br>
                    Naast solo-uitdagingen kun je ook groepsuitdagingen met andere klasgenoten aangaan. Om te zien wie van
                    jullie het boek als eerste kan doorlezen, de uitdaging wint en de meeste punten scoor, en uiteindelijk
                    de kans krijgt om zichtbaar te zijn op de ranglijst, voor allen te zien.
                </p>
            </div>
        </div>
    </div>

    <div class="centerWrapper">
        <div class="BOTWborder">
            <h1>Boek van de week</h1>
            <div class="BOTWwrapper">
                <div class="BOTWcontainer">
                    <div class="BOTWtitle"></div>
                    <div class="BOTWsummary"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="rightWrapper">
        <div class="leaderboardBorder">
            <h1 class="leaderboardHeader">Ranglijst</h1>
            <div class="leaderboardOverview">
                <div class="activeLeaderboardWrapper">
                    <ol class="activeLeaderboard">
                    <!-- the leaderboard is loaded into this section of the page -->
                    </ol>
                </div>
            </div>
        </div>
    </div>

</div>