<div class="OBAContent">
    <div class="row title">
        <div class="jumbotron">
            <h1>Informatie over de OBA</h1>
        </div>
    </div>
    <div class="content">
        <h2> De locaties van de OBA: </h2>
        <h3>
            Op deze pagina kan je een map zien met de verschillende locaties van de OBA.<br>
            Bij deze locaties zijn er een leuke activiteiten. Denk aan leuke en interesante workshops.<br>
            Verder ben je ook altijd welkom om een boek te lenen. We hopen je binnenkort graag een keer te zien bij de OBA.<br>
            Als je op deze link drukt zie je meer informatie over de OBA: <a href="https://www.oba.nl/jeugd/jeugd-6-12.html">OBA Junior</a>
        </h3>
        <div class="kaart">
            <h3>
                <img src="assets/img/obavestegingen.png" width="876" height="500">
            </h3>
        </div>
    </div>
</div>